language: python
python:
  - "3.6"
install:
  - pip install pytest
  - pip install pytest-cov
  - pip install coveralls
  - pip install -r requirements.txt
script:
  - pytest pydistinct/test.py --cov=pydistinct
after_success:
  - coveralls
